body, html {
    padding:0;
    margin:0;
}
details pre {
    display: none;
}
#chart {
    position:absolute;
    top:0;right:200px;bottom:0;left:0;
}
#sidebar {
    position:absolute;
    top:0;right:0;bottom:0;
    width:200px;
    background:#ddd;
    border-left:1px solid #FFF;
}
