/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2013, 11:29:36 AM
    Author     : Keren Fruchter
*/
#header {
    width:100%;
}
#menu {
    height:800px;
    width:20%;
    float:left;
}
#content {
    height:800px;
    width:80%;
    float:left;
}
p {
    margin: 20px 20px 20px 20px;
}


.hasmenu {
    border: 0px solid #008;
    margin: 3px;
    padding: 5px;
    width: 30px;
}

.ui-widget{
    font-size: .8em;
}
.ui-menu {
    width: 150px;
}

/* Define a custom icon */

.ui-icon.custom-icon-firefox {
    background-image: url(application_firefox.gif);
    background-position: 0 0;
}

div.growlUI { background: url(http://malsup.com/jquery/block/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; 
    padding: 5px 5px 5px 75px;
    text-align: left;
}

div.growlUI h1 {
    font-size: 17px;
}

div.growlUI h2 {
    font-size: 15px;
}

