/*
    Main Style

    Created on : Dec 2, 2013, 11:29:36 AM
    Author     : Keren Fruchter
*/
body, html {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    height: 100%;
    width: 100%;
}

iframe
{
    height:95%;
    width:98%;
    overflow:hidden;
    position: absolute;
}

#iframeID {
    margin-top: 10px;
    height:90%;
}

.tdOfInputFile {
    margin-top: 12px;
    width: 50%;
}

td, th {
    padding: 0.1rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.success {
    margin-top: 5px;
    font-size: small;
    color: green;
}

#saveResult {
    position: absolute;
}

#netFileDiv {
    /*    position: fixed;  */
}

.danger {
    margin-top: 5px;
    font-size: small;
    color: red;
}

#menu {
    height:800px;
    width:20%;
    float:left;
}
#content {
    height:800px;
}

#RunSimDiv {
    width:90%;
}

#waitToLoad {
    height: 5px;
    margin-top: 3px;
}

p {
    margin: 20px 20px 20px 20px;
}


.hasmenu {
    border: 0px solid #008;
    margin: 3px;
    padding: 5px;
    width: 30px;
}

.ui-widget{
    font-size: .8em;
}
.ui-menu {
    width: 150px;
}

/* Define a custom icon */

.ui-icon.custom-icon-firefox {
    background-image: url(application_firefox.gif);
    background-position: 0 0;
}

div.growlUI { background: url(http://malsup.com/jquery/block/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; 
    padding: 5px 5px 5px 75px;
    text-align: left;
}

div.growlUI h1 {
    font-size: 17px;
}

div.growlUI h2 {
    font-size: 15px;
}

#treeMenu {

}

#loadingmessage {
    display:none;
}

#loadingmessageSrc {
    width: 20%;
}

#treecontrol, #treecontrol > a {
    display: none;
}

#TreeValidation {
    position:absolute; 
    bottom:0;
}

#spaceMenuContent {
    float: right; 
    width: 2%;
}

#content {
    float: right; 
    width: 83%;
}

.rowOfStep1 {
    width: 40%;
}

#EditNodeDivLoading {
    display:none;
}

#EditNodeDivShow {
    width: 80%; 
    margin: 20px 20px 20px 20px;
}

#scenarioNameTd {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    text-transform:capitalize;
}

#ticksTd {
    text-align: center;
}

#slider {
    float: top;
    clear: inherit;
    width: 90%;
    margin:5px 5px 5px 5px;
}

#nodesTd { 
    text-align: center;
}

#sliderNodes {
    float: top;
    clear: inherit;
    width: 90%;
    margin:5px 5px 5px 5px;
}

#simConsolTd {
    text-align: center;
}

#1td {

}

#2td {

}

#3td {

}

#4td {

}

#5td {

}

#6td {

}

#7td {

}

.table{
    width: 100%;
}

#state {
    width: 100%;
}

#nodeInfoTable {
    width: 70%;
    font-size: medium;
}

#nodeInfoTable td {
    height: 30px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
}

#graphControlTable1 {
    width: 80%; 
    position: absolute;
    z-index: 999;
}

#graphControlTable2 {
    margin-top: 50px;
    width: 100%; 
    position: absolute;
    z-index: 999;
}

.inrow {
    display:inline-block;
}