/*
    Main Style

    Created on : Dec 2, 2013, 11:29:36 AM
    Author     : Keren Fruchter
*/
body, html {
    padding:0px 0px 5px 0px;
    margin:0px 0px 0px 0px;
}

td, th {
    padding: 0.1rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#menu {
    height:800px;
    width:20%;
    float:left;
}
#content {
    height:800px;
    width:80%;
    float:left;
}
p {
    margin: 20px 20px 20px 20px;
}


.hasmenu {
    border: 0px solid #008;
    margin: 3px;
    padding: 5px;
    width: 30px;
}

.ui-widget{
    font-size: .8em;
}
.ui-menu {
    width: 150px;
}

/* Define a custom icon */

.ui-icon.custom-icon-firefox {
    background-image: url(application_firefox.gif);
    background-position: 0 0;
}

div.growlUI { background: url(http://malsup.com/jquery/block/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; 
    padding: 5px 5px 5px 75px;
    text-align: left;
}

div.growlUI h1 {
    font-size: 17px;
}

div.growlUI h2 {
    font-size: 15px;
}

#treeMenu {
    float: left; 
    width: 12%;
}

#loadingmessage {
    display:none;
}

#loadingmessageSrc {
    width: 20%;
}

#treecontrol, #treecontrol > a {
    display: none;
}

#TreeValidation {
    position:absolute; 
    bottom:0;
}

#spaceMenuContent {
    float: right; 
    width: 2%;
}

#content {
    float: right; 
    width: 83%;
}

.rowOfStep1 {
    width: 40%;
}

#EditNodeDivLoading {
    display:none;
}

#EditNodeDivShow {
    width: 80%; 
    margin: 20px 20px 20px 20px;
}

#scenarioNameTd {
    width: 15%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    text-transform:capitalize;
}

#ticksTd {
    width: 10%; 
    text-align: center;
}

#openNodesTd {
    width: 10%; 
    text-align: center;
}

#slider {
    float: top;
    clear: inherit;
    width: 90%;
    margin:5px 5px 5px 5px;
}

sliderNodes {
    float: top;
    clear: inherit;
    width: 90%;
    margin:5px 5px 5px 5px;
}

#simConsol {
    width: 10%; 
    text-align: center;
}

#1td {

}

#2td {

}

#3td {

}

#4td {

}

#5td {

}

#6td {

}

#7td {

}