/*
    Main Style

    Created on : Dec 2, 2013, 11:29:36 AM
    Author     : Keren Fruchter
*/

body, html {
    width: 100%;
    height: 100%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

iframe
{
    width:98%;
    height:95%;
    overflow:hidden;
    position: absolute;
}

.inrow {
    display:run-in;
}

.wide {
    width: 100%;
}

#iframeID {
    height:90%;
    margin-top: 10px;
}

.tdOfInputFile {
    width: 50%;
    margin-top: 14px;
}

td, th {
    padding: 0.1rem;
    display: run-in;
    overflow: hidden;
    white-space: nowrap;
}

p {
    margin: 20px 20px 20px 20px;
}

.success {
    color: green;
    margin-top: 5px;
    font-size: small;
}

#saveResult {
    position: absolute;
}

.danger {
    color: red;
    margin-top: 5px;
    font-size: small;
}

#menu {
    width:20%;
    float:left;
    height:800px;
}

#content {
    height:800px;
}

#RunSimDiv {
    width:90%;
}

#waitToLoad {
    height: 5px;
    margin-top: 3px;
}

#loadingmessage {
    display:none;
}

#loadingmessageSrc {
    width: 20%;
}

#treecontrol, #treecontrol > a {
    display: none;
}

#TreeValidation {
    bottom:0;
    position:absolute;
}

#spaceMenuContent {
    width: 2%;
    float: right;
}

#content {
    width: 83%;
    float: right; 
}

.rowOfStep1 {
    width: 40%;
}

#EditNodeDivLoading {
    display:none;
}

#EditNodeDivShow {
    width: 80%; 
    margin: 20px 20px 20px 20px;
}

#scenarioNameTd {
    color: #222;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
    text-shadow: 0px 2px 3px #555;

}

#ticksTd {
    text-align: center;
}

#slider {
    float: top;
    width: 90%;
    clear: inherit;
    margin:5px 5px 5px 5px;
}

#nodesTd { 
    text-align: center;
}

#sliderNodes {
    float: top;
    width: 90%;
    clear: inherit;
    margin:5px 5px 5px 5px;
}

#simConsolTd {
    text-align: center;
}

.table{
    width: 100%;
}

#state {
    width: 100%;
}

#nodeInfoTable {
    width: 90%;
    font-size: smaller;
}

#graphControlTable1 {
    width: 80%; 
    z-index: 999;
    position: absolute;
}

#graphControlTable2 {
    width: 100%;
    z-index: 999;
    margin-top: 50px;
    position: absolute;
}

#graphControlTable2 button {
    width: 100%; 
}

#fileinputtable1 td, #fileinputtable1 th {
    padding: 0.1rem;
    overflow: hidden;
    white-space: nowrap; 
    display: inline-block;
}

#fileinputtable2 td, #fileinputtable2 th {
    padding: 0.1rem;
    overflow: hidden;
    white-space: nowrap; 
    display: inline-block;
}